html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, main {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

main > section {
  margin; 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

.intro:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}

.intro header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.intro h1 {
  margin: 0;
}

.intro .logo {
  font-family: 'Lobster', cursive;
}

.intro p {
}

.intro .action {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.intro .action a {
  display: inline-block;
}

.intro .action a.signup {
  font-weight: bold;
  border: 1px solid black;
  background-color: #767676;
  color: #ebebeb;
  padding: 1rem;
  margin: 1rem;
  transition: background-color 1s;
  transition: color 1s;
}

.intro .action a.signup:hover {
  background-color: #81DCA3;
  color: black;
}

.intro .accounts {
  display: flex;
  align-items: flex-end;
}

.intro .accounts img {
}

@media all {
  .intro {
    padding: 0.5rem;
  }
  .intro:after {
    background-image: url('images/background-small.jpg');
  }
  .intro h1 {
    font-size: 4rem;
  }
  .intro p {
    font-size: 1.8rem;
  }
  .intro .action a.signup {
    font-size: 2rem;
  }
  .intro .accounts a {
    margin: 1rem;
  }
  .intro .accounts img {
    height: 3.5rem;
  }
  /*
  .how {
    background-image: url('images/mux-demux.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  */
}

@media all and (min-width: 400px) {
  .intro {
    padding: 0.5rem;
  }
  .intro:after {
    background-image: url('images/background-small.jpg');
  }
  .intro h1 {
    font-size: 7rem;
  }
  .intro p {
    font-size: 2rem;
  }
  .intro .action a.signup {
    font-size: 2.1rem;
  }
}

@media all and (min-width: 600px) {
  .intro {
    padding: 1rem;
  }
  .intro h1 {
    font-size: 10rem;
  }
  .intro p {
    font-size: 2.4rem;
  }
  .intro .action a.signup {
    font-size: 2.6rem;
  }
  .intro .accounts a {
    margin: 30px;
  }
  .intro .accounts img {
    height: 70px;
  }
}

@media all and (min-width: 900px) {
  .intro {
    padding: 1rem;
  }
  .intro:after {
    background-image: url('images/background-large.jpg');
  }
  .intro h1 {
    font-size: 14rem;
  }
  .intro p {
    font-size: 3rem;
  }
  .intro .action a {
    font-size: 3.4rem;
  }
}
